$font-color:#F7F7F7;
$color-one:#616571;
$color-two:#1A1A1A;
$color-three:#93DEFF;
$banner-size:80vh;


body{
    background: $color-two;
    overflow-x: hidden;
    color:$font-color;
}
ul{
    li{
        span{
            cursor: pointer;
        }
    }
}
.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $font-color;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.highlight-text{
    color: $color-three;
}  
.menu-link:hover,
.menu-link:focus {
color: #666;
}
.blunt::after{
    content: '';
    width: 100px;
    height: 100px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: $color-two;
}
@mixin tilt-box(){
    position: absolute;
    background-color: $color-one;
    width: 2000px;
    height: 1500px;
    transform: rotate(-45deg);
    
}