@import 'index.scss';


.header{
    height: $banner-size;
    max-height: $banner-size;
    position: relative;
    overflow: hidden;
    
    .first-box{
        @include tilt-box;
        left: -500px;
        top:-800px;
        z-index: -3;
    }
    .second-box{
        @include tilt-box;
        left: 900px;
        z-index: -1;
        top:500px;
    }
    img{
        z-index: -2;
        position: absolute;
        height: 100%;
        right: 20rem;
    }
    .container{
        .row{
            >div{
                width: 50%;
            }
            >div:first-child{
                padding-top: 20vh;
            }
            display: flex;
            flex-direction: row;
        }
    }
}

.detail-information{
    margin-top: 20vh;
    background-color: $color-two;
    .content{
        margin-bottom: 5vh;
        article{
            text-align: justify;
        }
    }
    .content-spacing{
        margin-bottom:15vh ;
    }
}

.card{
    .card-img-overlay{
        background: rgba($color: #000000, $alpha: 0.8);
    }
    img{
        max-height: 50vh;
    }
}

.contact-form{
    padding: 30px 50px;
    box-shadow:0px 0px 500px rgba(0, 0, 0, 0.5);
}
.progress-bar{
    background-color: $color-three;
}
.btn-outline-primary{
    color:$font-color;
    border-color: $font-color;
    font-weight: 600;
}
.btn-outline-primary:hover{
    color:$color-three;
    border-color: $color-two;
    background-color: $color-two;
}