<div class="header">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container" id="profile">
        <div class="row">
            <div>
                <h1>I KADEK ADI ASTAWA</h1>
                <h3>Software Engineer</h3>
                <p>Welcome to my online portfolio. Here, you'll find a collection of my work, showcasing my skills and expertise in software engineering and web development.</p>
                <a href="src/data/resume.pdf" class="btn btn-outline-primary mb-3 mb-lg-0">DOWNLOAD MY RESUME</a>
                
                <a href="youtube.com" class="btn btn-outline-primary">VIDEO INTRODUCTION</a>
            </div>
            <div>
                <img src="src/images/adi.png" alt="adi astawa">
            </div>
        </div>
    </div>
</div>
<div class="detail-information ">
    <div class="container py-5">
        <div class="highlight" id="about">
            <div class="row mb-5">
                <div class="col d-flex">
                    <!-- <img src="src/images/adi.jpg" class="align-self-center w-100" alt="adi"> -->
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h2><span class="highlight-text">#</span> ABOUT ME</h2>
                        <article>
                            Hi, my name is I Kadek Adi Astawa and I am passionate about Software Engineering. I have worked on a number of team projects during my time at Lithan Academy and am comfortable working under pressure, able to accomplish tasks efficiently and effectively, even when working against tight deadlines.
                            <br><br>
                            In terms of my goals, my short-term objectives are to complete my education at both Lithan Academy and ITBS Stikom Bali and to successfully finish the program at Lithan Academy. These accomplishments will help me to develop the skills and knowledge I need to excel in my chosen field.
                            <br><br>
                            My long-term goal is to become a leader of a team in a company where I can put my skills and experience to use. I am passionate about developing software that can solve complex problems and make people's lives easier, and believe that by working hard and continuing to learn, I can make a valuable contribution to any team.
                        </article>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h4><span class="highlight-text">-</span> EDUCATION</h4>
                        <h5>TI Bali Global High School</h5>
                        <h6><i>June 2022</i></h6>
                        <article>
                            I completed my high school education with a focus on software engineering, gaining a strong foundation in programming concepts and techniques. During my time at TI Bali Global High School, I was an active member of the English Club, where I participated in various activities and events to develop my language skills.
                        </article>
                        <br>
                        <h5>Lithan Academy</h5>
                        <h6><i>June 2022 - Today</i></h6>
                        <article>
                            I am currently pursuing a course at Lithan Academy where I am acquiring comprehensive knowledge of various web development technologies. The course has given me a deep understanding of technologies such as jQuery, Spring, Liferay, and many more. Additionally, to solidify my understanding of each module, we are required to develop a website related to the topic covered in the module. This hands-on experience has helped me to hone my web development skills and gain practical knowledge in the field.
                        </article>
                        
                    </div>
                </div>
                <div class="col d-flex">
                    <!-- <img src="src/images/education.png" class="align-self-center w-100" alt="education"> -->
                </div>
            </div>
            <div class="row mb-5">
                <div class="col d-flex">
                    <!-- <img src="src/images/internship.jpg" class="align-self-center w-100" alt="internship"> -->
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h4><span class="highlight-text">-</span> INTERNSHIP</h4>
                        <h5>PT. Balinet Intra Nusa Nawadwipa</h5>
                        <h6><i>March - April 2023</i></h6>
                        <article>
                            During my internship at PT. Balinet Intra Nusa Nawadwipa, I worked on developing responsive website layouts based on PDF files provided to me by the company. Despite the challenges posed by the pandemic, I was able to complete the program, which lasted for one month. Throughout my internship, I demonstrated a strong work ethic and a commitment to producing high-quality results. I worked closely with my colleagues and supervisors to ensure that my work met the company's standards and exceeded their expectations. This experience taught me the importance of adaptability and perseverance in the face of adversity, as well as the value of effective communication and collaboration in achieving common goals. Overall, my internship at PT. Balinet Intra Nusa Nawadwipa was a valuable opportunity for me to develop my skills and gain practical experience in the field of web development.
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col highlight" id="skill"> 
                <div class="content ">
                    <h2 class="mb-4"><span class="highlight-text">#</span> TECHNICAL SKILL</h2>

                    <div class="row blunt" id="technicalSkill">
                        <div class="col" id="left"></div>
                        <div class="col" id="right"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col highlight">
                <div class="contact-form"  id="contact">
                    <h2><span class="highlight-text">#</span> CONTACT ME</h2>
                    <form action="#" class="mt-4 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="subject" placeholder="name@example.com">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" id="message" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn px-5 float-end btn-primary">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="src/scripts/skill.js"></script>