<nav id="navbar-example2" class="navbar navbar-expand-lg bg-dark py-3 px-5 ">
    <a class="navbar-brand" href="#profile">
        <img src="src/images/logo.png" alt="Logo" >Adi Astawa
    </a>
   <hr class="border border-primary w-100 spaceline-nav">
    <ul class="navbar-nav flex-row  flex-md-column">
        <li class="nav-item">
            <a href="#profile" class="menu-link nav-link " id="profile-link">Profile</a>
        </li>
        <li class="nav-item">
            <a href="#about" class="menu-link nav-link " id="about-link" >About Me</a>
        </li>
        <li class="nav-item">
            <a href="#skill" class="menu-link nav-link " id="skill-link" >Technical Skill</a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="menu-link nav-link " id="contact-link" >Contact Me</a>
        </li>
        <li class="nav-item">
            <a href="#" class="menu-link nav-link" id="projects-link">Projects</a>
        </li>
    </ul>

</nav>

<script src="src/scripts/navbar.js"></script>