<nav class="navbar fixed-top navbar-expand-lg bg-transparent py-3 px-5">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="src/images/logo.png" alt="Logo" width="60">
        </a>
        <ul class="navbar-nav ms-auto d-flex mb-2 mb-lg-0">
            <li class="nav-item">
                <span class="menu-link active" aria-current="page" id="profile-link">Profile</span>
            </li>
            <li class="nav-item">
                <span class="menu-link" id="projects-link">Projects</span>
            </li>
        </ul>
    </div>
</nav>

<script src="src/scripts/navbar.js"></script>