<div class="header">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container">
        <div class="row">
            <div>
                <h1>I KADEK ADI ASTAWA</h1>
                <h3>Junior Programmer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis qui sit autem nisi quia deleniti cumque quod aperiam exercitationem suscipit ab officia adipisci, totam ducimus. Consequuntur repellat similique nihil?</p>
            </div>
            <div>
                <img src="src/images/adi.png" alt="adi astawa">
                
            </div>
        </div>
    </div>
</div>
<div class="detail-information py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="content">
                    <h2><span class="highlight-text">#</span> ABOUT ME</h2>
                    <article>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto. Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="content">
                    <h4><span class="highlight-text">-</span> EDUCATION</h4>
                    <article>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto. Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                    </article>
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="content">
                    <h4><span class="highlight-text">-</span> INTERNSHIP</h4>
                    <article>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto. Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                    </article>
                </div>
            </div>
        </div>
        <div class="content">
            <h2><span class="highlight-text">#</span> TECHNICAL SKILL</h2>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
    
    <div class="card text-bg-dark rounded-0 border-0">
        <img src="src/images/project-image.jpg" class="card-img" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center flex-column">
            <h4>PROJECT LIST</h4>
            <p class="w-50 text-center mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit laudantium aperiam tempora sapiente vel accusantium non aut debitis consequatur necessitatibus aspernatur blanditiis, architecto, ab soluta perspiciatis aliquid quae temporibus. Perferendis?</p>
          <span class="btn btn-outline-light px-5 fw-bold" id="projects-link" onclick="$('#content').load('src/components/projects.html');">PROJECTS LIST</span>
        </div>
    </div>

    <div class="container">
        <div class="content">
            
        </div>
    </div>

</div>

<script src="src/scripts/skill.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>