<div class="header">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container">
        <div class="row">
            <div>
                <h1>I KADEK ADI ASTAWA</h1>
                <h3>Junior Programmer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis qui sit autem nisi quia
                    deleniti cumque quod aperiam exercitationem suscipit ab officia adipisci, totam ducimus.
                    Consequuntur repellat similique nihil?</p>
                <button class="btn btn-outline-primary">SEE MY RESUME</button>
                <a href="youtube.com" class="btn btn-outline-primary">VIDEO INTRODUCTION</a>
            </div>
            <div>
                <img src="src/images/adi.png" alt="adi astawa">

            </div>
        </div>
    </div>
</div>
<div class="detail-information ">
    <div class="container py-5">
        <div class="highlight">
            <div class="row ">
                <div class="col"></div>
                <div class="col">
                    <div class="content">
                        <h2><span class="highlight-text">#</span> ABOUT ME</h2>
                        <article>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem
                            labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas
                            illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore
                            blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad
                            soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta
                            vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto.
                            Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim
                            perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content">
                        <h4><span class="highlight-text">-</span> EDUCATION</h4>
                        <article>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem
                            labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas
                            illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore
                            blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad
                            soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta
                            vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto.
                            Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim
                            perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                        </article>
                    </div>
                </div>
                <div class="col">
    
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="content">
                        <h4><span class="highlight-text">-</span> INTERNSHIP</h4>
                        <article>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem
                            labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas
                            illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore
                            blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad
                            soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta
                            vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto.
                            Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim
                            perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col highlight">
                <div class="content ">
                    <h2 class="mb-4"><span class="highlight-text">#</span> TECHNICAL SKILL</h2>

                    <div class="row blunt" id="technicalSkill">
                        <div class="col" id="left"></div>
                        <div class="col" id="right"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col highlight">
                <div class="contact-form">
                    <h2><span class="highlight-text">#</span> CONTACT ME</h2>
                    <form action="#" class="mt-4 ">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="subject" placeholder="name@example.com">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" id="message" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn px-5 float-end btn-outline-primary">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="src/scripts/skill.js"></script>