<div class="header">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container">
        <div class="row">
            <div>
                <h1>I KADEK ADI ASTAWA</h1>
                <h3>Junior Programmer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis qui sit autem nisi quia deleniti cumque quod aperiam exercitationem suscipit ab officia adipisci, totam ducimus. Consequuntur repellat similique nihil?</p>
            </div>
            <div>
                <img src="src/images/adi.png" alt="adi astawa">
                <div class="back-text">
                    ADI ASTAWA
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detail-information py-5">
    <div class="container py-5">
        <div class="content">
            <h2>ABOUT ME</h2>
            <article>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est dolore nulla, totam autem labore, sunt itaque ipsam distinctio explicabo officia, expedita possimus cum obcaecati quas illum quo quidem? Adipisci laboriosam numquam, quis rerum officiis dicta, magnam dolore blanditiis sed voluptatum corrupti tempora. Dignissimos sed fugit, recusandae minus vel ad soluta eius culpa natus repellendus nemo vitae beatae quibusdam! Neque blanditiis illo soluta vitae in nam quibusdam voluptatem porro ab, consequuntur aliquid, rerum quam ratione eius iusto. Quasi, hic ea? Amet, possimus. Molestiae quia sit, dolorem possimus impedit minus excepturi enim perspiciatis est at repudiandae magni obcaecati, nostrum tenetur suscipit.
            </article>
        </div>
        <div class="content">
            <h2>TECHNICAL SKILL</h2>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>
<script src="src/scripts/skill.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>