<div class="header-projects">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container">
        <div class="row">
            <div>
                <h1>Projects List</h1> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sunt, maxime, eos iure rerum, incidunt corporis nihil nam iusto quos nulla odit praesentium alias ratione. Aspernatur aut placeat repellendus cum.</p>               
            </div>
            <div>
                <img src="src/images/logo.png" class="eo-logo" alt="adi astawa">
            </div>
        </div>
    </div>
</div>
<div class="detail-information">
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorem voluptates facilis excepturi fugiat iste magni corrupti qui vitae aspernatur, debitis quae ullam quasi eligendi perferendis doloribus ipsum porro provident commodi libero nisi possimus! Pariatur quo veniam tempore molestiae amet dicta labore in, cum explicabo neque voluptatibus voluptatum rerum illum deleniti facere, asperiores, saepe illo alias! Ducimus eum nobis iste perferendis sequi! Animi culpa provident sequi debitis nihil ex at quas, ullam tempora officia libero sit aut saepe blanditiis ipsa, facilis vitae id repudiandae. Numquam, recusandae dicta quae dolores voluptatem dolor aliquam animi explicabo dignissimos distinctio? Odit vero qui explicabo.
    </div>
</div>