<div class="header-projects">
    <div class="first-box"></div>
    <div class="second-box"></div>
    <div class="container">
        <div class="row">
            <div>
                <h1>Projects List</h1> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sunt, maxime, eos iure rerum, incidunt corporis nihil nam iusto quos nulla odit praesentium alias ratione. Aspernatur aut placeat repellendus cum.</p>               
            </div>
            <div>
                <img src="src/images/logo.png" class="eo-logo" alt="adi astawa">
            </div>
        </div>
    </div>
</div>
<div class="detail-information">
    <div class="container py-5" id="projectsContainer">
        <!-- <div class="card mb-4 text-bg-dark">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">title</h5>
              <p class="card-text">description</p>
              <a href="#" class="btn btn-outline-primary">Go somewhere</a>
            </div>
        </div> -->
    </div>
</div>

<script src="src/scripts/projects.js"></script>